<header class="header">
  <div class="banner">
    <img src="https://media.licdn.com/dms/image/D5612AQHP7GyUGbnRXQ/article-cover_image-shrink_720_1280/0/1677699093985?e=2147483647&v=beta&t=B8sZ6LAMFmcMEwTz9B5__RX7Gh4ilHwpnmHM7cs0XC8" alt="Banner" class="banner-image">
  </div>
  <div class="nav-container">
    <img src="assets/IMPORTACIONES.svg" alt="Logo" class="logo">
    <nav>
      <ul class="nav-menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Categorías</a></li>
        <li><a href="#">Información</a></li>
        <li><a href="#">Reseñas</a></li>
      </ul>
    </nav>
  </div>
</header>
